@{
    ViewBag.Title = "Hello!";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            Welcome to PlanningPoker!<br/>
            This is a simple application for voting (eg. at SCRUM refinement meeting). <br/>
            In order to start, create new session and then send session link to all your team members.
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button id="new-session" class="btn btn-lg btn-success btn-block">Create new session</button>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/newsession")
}
