@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            In order to start, create new session and then send session link to all your team members.
        </div>

        <div class="col-md-4 col-md-offset-4">
            <button id="new-session" class="btn btn-lg btn-success btn-block">Create new session</button>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    $(function() {

        var pp = {};

        $("#new-session")
            .click(function() {
                $.ajax({
                    type: "POST",
                    url: "/api/Create",
                    data: { UserName: "marek", Title : "test"},
                    success: function(data) {
                        window.location.href = "/session/"+data.ShortId;
                    },
                    error:function() {
                        alert("could not create session");
                    },
                    dataType: "json"
                });


            });

    });

</script>
}
