@{
    ViewBag.Title = "Voting session";
}

<div id="no-storage" style="display: none;" class="row">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Your browser does not support local storage. Your user name will not be saved across sessions!
    </div>
</div>

<div id="loading-alert" style="display: none" class="alert alert-info" role="alert">
    <span id="loading-message"></span>
</div>

<div id="session-status" style="display: none;" class="alert alert-info alert-dismissible" role="alert">Voting in progress ...</div>

<div id="main-wrapper" style="display: none;">

    <div class="row">
        <div class="col-md-7">

            <div class="row" id="enter-name">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="member-name" placeholder="Please enter your name" maxlength="50" required autofocus>
                                </div>

                                <button id="add-member" class="btn btn-lg btn-primary btn-block">Join</button>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>

            <div id="user-vote" style="display: none;" class="row">
                <div class="col-md-6">
                    <div id="add-vote-area">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Vote here</h3>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="vote-value" placeholder="Enter your vote" maxlength="10" required>
                                    </div>

                                    <button id="add-vote" class="btn btn-lg btn-primary btn-block">Vote</button>
                                </fieldset>
                            </div>
                        </div>

                    </div>

                    <div id="vote-status-area">
                        <h3>Your vote: <span id="current-vote-value"></span></h3>
                    </div>

                    <button id="revote" style="display: none;" class="btn btn-lg btn-primary btn-block">Re-vote</button>
                </div>
                <div class="col-md-6"></div>
            </div>

            <div id="voting-area" style="display: none;">
                <div class="row">
                    <div id="users-table" class="col-md-12" style="display: none;">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>name</th>
                                    <th>vote</th>
                                </tr>
                            </thead>
                            <tbody id="members-list"></tbody>
                        </table>

                    </div>
                </div>
                <div class="row" id="voting-buttons">
                    <div class="col-md-6">
                        <button id="start-voting" class="btn btn-lg btn-secondary btn-block">Let's vote!</button>
                        <button id="stop-voting" style="display: none" class="btn btn-lg btn-secondary btn-block">Show results</button>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-5" id="session-details" style="display: none;">
            <div class="card">
            <h3 class="card-header primary-color white-text">Session details</h3>
            <div class="card-block">
                <h4>Session <span id="session-id"></span></h4>
                <p>This session wil expire <span id="session-expiry"></span></p>
                <p>
                    <label>Session url</label>
                    <input value="" type="text" id="session-url" class="form-control">
                    
                    <button id="copy-to-cb" type="button" class="btn btn-sm btn-elegant">
                        <i id="copied-to-cb" class="fa fa-square-o left"></i> <span>Copy url</span>
                    </button>
                </p>
            </div>
        </div>
            
            <div class="card" id="name-info" style="display: none">
                <h3 class="card-header primary-color white-text">User details</h3>
                <div class="card-block">
                    <h4>Your name: <span id="name-info-span"></span></h4>
                    <p><span id="admin-status"></span></p>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var app = {};
        var sessionstring = '@Html.Raw(ViewBag.SessionJson)';
        console.log(sessionstring);
        app.session = JSON.parse(sessionstring);
    </script>
    @Scripts.Render("~/bundles/session")
}

