@{
    ViewBag.Title = "Oops";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            Oops. The session you are looking for has expired or doesn't exist.
        </div>

        <div class="col-md-4 col-md-offset-4">
            <button id="new-session" class="btn btn-lg btn-success btn-block">Create new session</button>
        </div>
    </div>
</div>

@section scripts{
   @Scripts.Render("~/bundles/newsession")
}
